-content_for(:content) do
  #admin
    %h2.title
      Create Blog:
    .breaker
    =form_for @blog, :method => :post do |f|
      -if @blog.errors.count > 0
        =render :partial => 'application/errs', :locals => {:invalid_record => @blog}
      =f.text_field :title, :placeholder => 'Blog title'
      .breaker
      =f.text_field :tagline, :placeholder => 'Blog tagline'
      .breaker
      =f.submit 'Continue', :class => 'button'
