!!! 5
%html{:lang => 'en-US'}
  %head
    %title
      =html_title yield(:title)
    =csrf_meta_tag
    =stylesheet_link_tag 'application'
    -if @blog and @blog.user
      %meta{:name => 'author', :content => @blog.user.settings[:name]}
    %link{:href => '/posts.rss', :rel => 'alternate', :title => 'RSS', :type => 'application/rss+xml'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Lato:300,900', :rel => 'stylesheet', :type => 'text/css'}
  %body{:class => "#{controller_name} #{action_name}"}
    -unless @no_header
      -if @blog and @blog.user
        %header
          %h1
            =link_to @blog.title, {:controller =>'blogs', :action => 'index', :slug => @blog.slug}
            %span.tagline
              =@blog.tagline
            %ul
              %li
                =link_to @blog.user.settings[:twitter]
              %li
                =link_to 'github', @blog.user.settings[:github]
              %li
                =link_to 'say hi', "mailto:#{@blog.user.settings[:email]}?subject:what's up!"
              %li
                %a
                  rss feed

    #container
      -unless @no_header
        -if is_admin?
          %ul.admin-links
            %li
              =link_to 'New Post', {:controller => 'posts', :action => 'new', :blog_slug => @blog.slug}, :class => 'button secondary'
              =link_to 'Admin', {:controller => 'blogs', :action => 'admin', :blog_slug => @blog.slug}
      :erb
        <time><% if @post %>Posted <%= @post.created_at.to_formatted_s(:day_month_year) %><% else %><%= Time.now.to_formatted_s(:day_month_year) %><% end %></time>
      #content
        -if notice
          %span.notice
            =notice
        =yield
    =javascript_include_tag 'application'