-content_for :container do
  %header
    %h1
      -if @blog and @blog.title
        =link_to @blog.title, {:controller =>'posts', :action => 'index', :blog_slug => @blog.slug}
      -else
        New Blog
    %span.tagline
      =@blog.tagline
    %ul
      %li
        =link_to '@'+@blog.settings[:twitter], "http://twitter.com/#{@blog.settings[:twitter]}"
      %li
        =link_to 'github', @blog.settings[:github]
      %li
        =link_to 'say hi', "mailto:#{@blog.settings[:email]}?subject:what's up!"
      %li
        %a
          rss feed

    -if current_user and @blog.user == current_user and (!(params[:controller] == 'blogs' and params[:action] == 'new'))
      =link_to "Edit these properties &raquo;".html_safe,
                              {:controller => 'blogs',
                               :action => 'edit',
                               :blog_slug => @blog.slug},
               :class => 'blog-properties edit'
      -if params[:controller] != 'blogs' and params[:action] != 'admin'
        %br
        =link_to "Blog Admin &raquo;".html_safe,
                                {:controller => 'blogs',
                                 :action => 'admin',
                                 :blog_slug => @blog.slug},
                 :class => 'blog-properties edit admin'

  =yield(:blog_container)

-content_for(:content) do
  =yield(:blog_content)

=render template: 'layouts/application'