-content_for :container do
  %header
    %h1
      -if @blog and @blog.title
        =link_to @blog.title, {:controller =>'posts', :action => 'index', :blog_slug => @blog.slug}
      -else
        New Blog
    %span.tagline
      =@blog.tagline
    %ul
      %li
        =link_to '@'+@blog.settings[:twitter], "http://twitter.com/#{@blog.settings[:twitter]}"
      %li
        =link_to 'github', @blog.settings[:github]
      %li
        =link_to 'say hi', "mailto:#{@blog.settings[:email]}?subject:what's up!"
      %li
        %a
          rss feed
  =yield(:blog_container)

-content_for(:content) do
  =yield(:blog_content)

=render template: 'layouts/application'